<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ report_name }}</title>
        <style>
            {% include 'styles/styles.css' %}
        </style>
    </head>

    <body>
        <div style="display: none">{{ plotly_js_only }}</div>

        <header class="header">
            <div class="header__content">{% include 'subtemplates/vizgen_logo.html' %}</div>
        </header>

        <div class="container">
            <div class="container__content">
                <h1 class="report-title">{{ experiment_name }}</h1>
                <p class="report-time">{{ time }}</p>
                {% include 'subtemplates/summary.html' %} {% include 'subtemplates/specification.html' %} {% include 'subtemplates/region_charts.html' %}
            </div>
        </div>
    </body>

    <script>
        {% include 'scripts/table.js' %}
    </script>
</html>
