profiles {
    local {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
        process.errorStrategy = 'retry'
        process.maxRetries = 2
        process.maxErrors = 10
        executor.queueSize = 2

        withLabel: 'small' {
            cpus = 1
            memory = '1 GB'
        }
        withLabel: 'medium' {
            cpus = 1
            memory = '8 GB'
        }
        withLabel: 'large' {
            cpus = 2
            memory = '12 GB'
        }
        withLabel: 'xlarge' {
            cpus = 8
            memory = '16 GB'
        }
    }
}
